* {
    box-sizing: border-box;
}
body {
  
    margin: 0;
    width: 100%;
    font-family: Inter;
}
.header {
    position: relative;
}

.upper-container {
    position: relative;
    height: 460px;
    width: 100%;
    background-color: blue;
}

.upper-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: absolute;
    top: 0;
    left: 15%;
    width: 72%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
}
.nav-item1 a {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.nav-item2 ul a {
    cursor: pointer;
    font-weight: 300;
    font-size: 1.15rem;
    margin-right: 1.3rem;
    text-decoration: none;
    color: white;
}


.navbar2{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15%;
}
.navbar2 img {
    height: 3.8rem;
    background:transparent;
}
.navbar2 h1 {
    cursor: text;
    font-size: 2.3rem;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
}
.search-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 17px;
}
.search-bar1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:52px ;
    width: 249px;
    background-color: #fff;
    border-radius: 9px 0 0 9px;
   
}
.search-bar1 i {
    color: #e57a7a;
    font-size:1.3rem;
    margin-left: 1rem;
}
.srch1 {
   height: 30px;
   border: none;
   font-size: 0.95rem;
   margin-left: 5px;
   width: 180px;
   outline: none;
}
.search-bar2 {
    height:52px ;
    display: flex;
    align-items: center;
}
.srch2 {
    height:52px ;
    font-size: 0.95rem;
    background-color: #fff;
    font-weight: 300;
    border-radius: 0 9px 9px 0 ;
}
.srch2 {
    height:52px ;
    width: 482px;
    border: none;
    outline: none;
}
.search-bar2 i {
    padding: 15px;
    height:52px ;
    background-color: #fff;
    font-size: 1.3rem;
    border: none;
    color: gray;
}


/* main content */


.container1{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 2rem;
   /* background-color: bisque; */
}
.box-one {
    transition: 0.4s; 
    cursor: pointer;
    width: 540px;
    height: 263px;
    border: 1px solid #d6d5d5;
    margin: 0.7rem;
    border-radius: 15px;
}
.text1{
    margin: 0;
    margin-left:1.2rem ;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing:0.8px;
}
.box-one img {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 15px 15px 0 0; 
}
.box-two {
    transition: 0.4s;
    cursor: pointer;
    width: 540px;
    height: 263px;
    border: 1px solid #d6d5d5;
    margin: 0.7rem;
    border-radius: 15px;
}
.text2{
    margin: 0;
    margin-top: 0.5rem;
    margin-left:1.2rem ;
    font-size: 1.05rem;
    opacity: 0.8;
}
.box-two img {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 15px 15px 0 0;
}


.container2{
    position: relative;
    margin: 5% 13.8% 0 13.8%;
   /* background-color: aqua; */
}
.container2 h1 {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 450;
    opacity: 0.8;
}
.text-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-info p {
   font-size: 1.15rem;
   opacity: 0.9;
   font-weight: 300;
   margin-left: 4px;
}
.text-info a {
    text-decoration: none;
    color:#e57a7a ;
}
.food-item-list {
    margin-top: 10px;
    display: flex;
  /* flex-wrap: wrap; */
  
}

.prop {
    margin: 6px;
    height: 320px;
    width: 268px; 
    background-color: #e57a7a;
    border-radius: 10px;
    cursor: pointer;
}
/* .card-one {
   cursor: pointer;
} */
.card-one img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
}
.text-content   {
 position: absolute;
 bottom: 0px;
 margin-bottom: 1rem;
 margin-left: 1rem;
 
 
}
.text3 {
    font-size: 1.15rem;
    font-weight: 400;
    color: #fff;
    margin: 0;
    margin-bottom: 0.3rem;
    letter-spacing: 0.5px;
}
.text4 {
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
    font-weight:400;
}


.card-two img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
 }

 .card-three img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
 }

 .card-four img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
 }


 /* hover effect */
 .container1 .box-one:hover{
    transition: 0.3s;
    transform: scale(1.02);
    box-shadow: 2px 2px 30px #544d4d;
 }
 .container1 .box-two:hover{
    transition: 0.3s;
    transform: scale(1.02);
    box-shadow: 2px 2px 30px #544d4d;
 }

 /* Clicking effect  */
 .container1 .box-one:active{
    transition: 0.3s;
    transform: scale(0.97);
 }
 .container1 .box-two:active{
    transition: 0.3s;
    transform: scale(0.97);
 }


 /* footer css */


 .foot-info {
    width: 100%;
    height: 379px;
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 4rem;
 }
 .foot-info h1 {
   opacity: 0.75;
   font-weight: 400;
 }

 .info-box{
    display: flex;
   
    flex-direction: column;
    margin-top:15px;

 }
 .info-box i {
    opacity: 0.85;
    font-size: 0.8rem;
 }
 .propty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-top:10px;
    border: 1px solid #dedede;
    height: 66px;
    padding: 25px;
    border-radius: 10px;
    opacity: 0.8;
    font-weight: 350;
 }


 .foot-end-info {
    height: 454px;
    background-color: rgb(248, 248, 248);
    padding-left: 13%;
    padding-right: 13%;
   padding-top: 40px;
   
 }

 .content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
 }

 .foot-logo img {
    height: 28px;
    object-fit: cover;
 }
 .lang-conty {
    display: flex;
    justify-content: flex-end;
 }
 .sm-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 109px;
    height: 37px;
    border-radius: 5px;
    border: 0.5px solid rgb(192, 189, 189);
    margin: 2px;
 }
 .sm-box h4 {
    margin: 0;
    font-weight: 400;
    font-size: 1.1rem;
}
.sm-box i {
    font-size:1.2rem;
    opacity:0.6 ;
}
.content2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 250px;
}
.foot-box-end {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 201px;
  
}
.foot-box-end h6 {
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 2.3px;
    font-weight:500;
}
.foot-box-end p {
  margin:0 ;
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 380;
  color: #474747;
  opacity: 0.8;
  cursor: pointer;
}
.text-end4 {
    margin-left: 5rem;
}
.foot-icon {
    margin-top: 0.95rem;
    
}
.foot-icon i {
    font-size: 1.3rem;
    padding-right:8px;
}
.foot-img {
    margin-top: 0.95rem;
}
.text-end5 img {
   margin-top: 0.5rem;
   height: 40px;
   width: 137px;
} 
.foot-box-end p:hover {
   opacity: 1;
}
.content3 {
    height: 50px;
    /* background-color: aquamarine; */
    border-top: 1px solid #c3c3c3f2;
  
   
}
.content3  p {
   margin-top: 1.7rem;
   font-size: 0.9rem;
   font-weight: 300;
   opacity: 0.74;
   padding-bottom: 3rem;
}
